.wpet_metabox {
    display: flex;
}

.wpet_metabox * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wpet-metabox-menu ul {
    height: 100%;
}

.wpet-metabox-menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    border-bottom: 1px solid rgb(93, 93, 93);
}

.wpet_metabox_wrapper h2 {
    padding: 0 !important;
    margin-bottom: 8px !important;
}

.wpet_metabox_wrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wpet-grig-section {
    margin-bottom: 18px;
    display: grid;
    grid-template-columns: 3fr 3.5fr 2fr;
    gap: 10px;
}

.wpet-grig-section.order ul {
    padding: 10px;
    border: 1px solid #bababa;
}

.wpet-grig-section.order ul li {
    padding: 4px 8px;
}

.wpet-grig-section.order ul li:not(:last-child) {
    margin-bottom: 4px;
}

.wpet-unavalible-information {
    color: #6a0c0c;
}

.wpet-unavalible * {
    display: none;
    color: #909090;
}

.wpet-grig-section.text {
    align-items: center;
}

.wpet-grig-section.fontsize {
    align-items: center;
}

/* jQuery UI Tabs Styles */

.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
.wpet-vertical-menu-link { width: 100% }

.ui-tabs-vertical .ui-widget-header { background: none; border: none; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { margin-bottom: .2em !important; }